*.json
Passwords.txt
master.txt
*.png
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/Python-projects-1.iml
/.idea/vcs.xml
/.idea/workspace.xml
NewPasswords.txt