*.json
Passwords.txt
NewPasswords.txt
Passcodeupload.txt
master.txt
*.png
Passwords.db
password_manager.log
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/Python-projects-1.iml
/.idea/vcs.xml
/.idea/workspace.xml
