*.json
*.log
*.png
Expenses.db
Passwords.db
Passwords.txt
NewPasswords.txt
Passcodeupload.txt
master.txt
requirements.txt
*.xlsx
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/Python-projects-1.iml
/.idea/vcs.xml
