<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Home.css') }}">
</head>
<body>
<header>
    <div class="Header-name">Huzaifa Sabah Uddin</div>
    <nav class="nav_links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/hello">Hello</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<div class="centered-content">
    <h1><span>Welcome to my portfolio</span></h1>
    <h1>My name is Hexz</h1>
</div>
</body>
</html>
