* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #24252A;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.centered-content {
    display: block;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-content h1 span {
    font-size: 80px;
    color: #ffffff;
}

.centered-content h1 {
    font-size: 60px;
    color: #ffcc00;
}

li, a {
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
    font-style: italic;
}

header {
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.Header-name {
    cursor: pointer;
    font-size: 25px;
    color: #fff222;
    font-style: italic;
}

.nav_links ul {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    margin-right: 20px;
}

.nav_links li a:hover{
    color: #0066ff;
}

.nav_links li a {
    transition: all 0.5s ease 0s;
}
